@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,html,div,h1,h2,h3,h4,h5,h6,p,input,textarea,a{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,span,div,input,textarea,a{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1;
}

button{
    background-color: #477EFE!important;
    color: #fff!important;
    border-radius: 0px!important;
}

input{
    border-radius: 0px!important;
}

h1{
    font-size: 64px;
    font-weight: 500;
}

h2{
    font-size: 48px;
    font-weight: 500;
}

h3{
    font-size: 36px;
    font-weight: 500;
}

h4{
    font-size: 30px;
    font-weight: 400;
}

p,span,a{
    font-size: 18px;
}

a{
    text-decoration: none;
}

a:hover, button:hover{
    opacity: 0.7;
}

.test{
    background-color: red;
}

/* Navigation */

.navbar{
    background: #000;
}

.logo img{
    width: 240px;
    min-width: 180px;
}

.d-flex{
    width: 400px;
}

.right-nav a,.right-nav span{
    color: #fff;
}

.right-nav span{
    color: #646464;
}

.right-nav i{
    color: #477EFE;
    font-size: 24px;
}

.right-nav .counter-cart{
    background: #477EFE;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 0px;
    line-height: 0.8;
}

.nav-link{
    color: #646464;
}

.active{
    font-weight: 700;
}

.socials i{
    font-size: 28px;
    margin: 10px;
}

/* Footer */

.footer{
    background-color: #000;

}

.left-footer{
    border-right: 3px solid #477EFE;
}

.left-footer p{
    font-size: 12px;
}

.center-footer{
    display: flex;
}

.center-footer a{
    display: block;
    color: #fff;
    margin: 20px;
}

.center-footer g1{
    margin-right: 60px;
}

.right-footer{
    color: #fff;
}

/*--------------- 
    HOMEPAGE
----------------- */

.hero{
    position: relative;
}

.hero img{
    width: 100%;
}

.hero .main{
    position: absolute;
    color: white;
    top: 80px;
    left: 25%;
    right: 25%;
    text-align: center;
}

.hero button{
    padding: 10px 20px;
}

.ourbrands  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    background-color: #FAFAFA;
    border: none;
}

.card-body{
    background-color: #000;
    color: #fff;
}

.card-body p{
    font-weight: 300;
    font-size: 14px;
}

/* Login */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.login-section  {
    position: relative;

}

.login-left{
    width: 50%;
    float: left;
    height: 80vh;
    background: url(Assets/login-register.jpg);
    background-size: cover;
    background-position-x: center;
   
}

.login-right{
    width: 50%;
    float: right;
}

.login-btn{
    width: 100%;
    margin: 20px 0px;
}

/* Register */


.regsiter-section  {
    position: relative;

}

.register-left{
    width: 50%;
    float: left;
  
   
}

.register-right{
    width: 50%;
    float: right;
    height: 80vh;
    background: url(Assets/login-register.jpg);
    background-size: cover;
    background-position-x: center;
}

/* Browse */

#price{
    color: #477EFE;
    font-weight: bold;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    height: 8px;
    background: #e2e2e2;
    outline: none;
    border-radius: 100px!important;
    width: 220px;
    margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #477EFE; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }

  .filters input{
    margin: 10px 0px;
  }

  .archive-card-body {
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    height: 200px;
    padding: 30px;
}

.archive-card-img{
    float: right;
}

